body {
  font-family: Helvetica;
  margin: 0px;
}

.header {
  background-size: cover;
  background-position: center;
  padding: 80px 0 300px 0;
  background-color: #0A146E;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 8px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 8px;
  }
  img {
    width: 100px;
    margin-right: 20px;
  }
  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: img-spin infinite 20s linear;
    }
  }
  @keyframes img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.converter {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: center;
  width: auto;
  h2 {
    text-align: center;
    padding: 16px;
  }
}

.input {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  background: none;
}

.converter-bottom {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  h4 {
    font-size: 24px;
  }
  h4:first-child {
    text-align: left;
  }
  h4:nth-child(2) {
    text-align: left;
  }
  h4:nth-child(3) {
    text-align: left;
  }
  h4:nth-child(4) {
    text-align: left;
  }
  div {
    text-align: right;
  }
}

.converter-main {
  padding: 32px;
}

.btn-primary {
  width: 150px;
  height: 100%;
  background-color: #0275d8;

}